header.mensawidget-select {
  margin-right: 5px;
}
header.mensawidget-select div.mensawidget-weeks {
  bottom: 0;
  float: left;
  height: 45px;
  left: 0;
  position: relative;
}
header.mensawidget-select div.mensawidget-weeks span.mensawidget-weekselect {
  border: 1px solid #e1e4e5;
  background-color: #e1e4e5;
  padding: 3px;
  margin-right: -5px;
  display: inline-block;
  margin-top: 16px;
}
header.mensawidget-select div.mensawidget-days {
  bottom: 0;
  float: right;
  height: 45px;
  left: 0;
  position: relative;
}
header.mensawidget-select div.mensawidget-days a.mensawidget-daylink span.mensawidget-dayselect {
  border: 1px solid #e1e4e5;
  background-color: #e1e4e5;
  padding: 3px;
  margin-right: -4px;
  display: inline-block;
  margin-top: 16px;
}
header.mensawidget-select div.mensawidget-days a.mensawidget-daylink span.mensawidget-dayselect div.mensawidget-todaytext {
  font-size: 67%;
  text-align: center;
}
header.mensawidget-select div.mensawidget-days a.mensawidget-daylink span.mensawidget-today {
  font-weight: bold;
  margin-top: 3px;
}
header.mensawidget-select span.mensawidget-selected {
  background-color: #24437c !important;
  color: white;
}
section.mensawidget-menu {
  width: 100%;
}
section.mensawidget-menu td.mensawidget-type {
  font-weight: bold;
  vertical-align: top;
}
section.mensawidget-menu td.mensawidget-kind {
  text-align: right !important;
}
footer.mensawidget-info {
  background-color: #e1e4e5;
  font-size: 9pt;
  margin-top: -13px;
}
