article.mensawidget {
  header {
    padding-top: 10px;
    text-align: center;

    img, svg {
      height: 64px;
      width: 64px;
    }
  }

  section {
    margin: 10px;
    font-style: italic;
  }
}
